{% extends "base.html" %}
{% block title %} posts list {% endblock %}
{% block content %}
    <div class="bg-gray-100">

        <main class="relative isolate">
            <form action="{% url 'create-customer' %}"
                  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form">
                     {{cform.name.label_tag}}
{#                    <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">#}
{#                         {{cform.name}}#}
{#                    </div>#}

                    <input type="file" name="avatar" id="avatar">

                    {{cform.name.errors}}
                </div>

                <button type="submit">send</button>
            </form>
        </main>

    </div>

{% endblock %}